:root {
  --STYLE_FIELD_UNDERLINE: '0 2px 0 -1px #e5e5e5';
  --STYLE_FIELD_UNDERLINE_HAS_VALUE: `0 2px 0 -1px var(--sonic-silver)`;
  --STYLE_FIELD_PLACEHOLDER_COLOR: 'rgba(0, 0, 0, 0.3)';

  --STYLE_HAS_VALUE_PADDING: 'var(--size-md) 0 var(--size-xsm)';
  --STYLE_HEIGHT: '3.2rem';

  --STYLE_DROPDOWN_BG: '#3c5677';
}

// TODO add
%SCROLLBARS_DROPDOWN: `
  ::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    display: block;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 0;
    border-right: 4px solid ${STYLE_DROPDOWN_BG};
    background: rgba(255, 255, 255, 0.48);
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
`
